<!--  
    
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Address</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Operation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sdata of datalist; index as i">
            <th scope="row"> {{i+1}}</th>
            <td>{{sdata.firstname}}</td>
            <td>{{sdata.lastname}}</td>
            <td>{{sdata.address}}</td>
            <td>{{sdata.gen}}</td>
            <td>{{sdata.email}}</td>
            <td>{{sdata.pass}}</td>
            <td class="d-flex">
              <button class="btn btn-warning mx-5" (click)='editRow(i)'>Edit</button>
              <button class="btn btn-danger" (click)='deleteRow(i)'>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
       -->
